.history {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.form__items > span {
  display: flex;
}

.form__left {
  /* border: 1px solid red; */
  height: 250px;
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__left > input {
  /* border: 1px solid black; */
  height: 50px;
  cursor: pointer;
  font-style: italic;
}

.form__left > button {
  height: 30px;
  width: 100px;
  border: 2px solid rgb(41, 90, 2);
  background-color: rgba(119, 247, 68, 0.747);
  color: rgb(17, 13, 13);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form__right {
  /* border: 1px solid blue; */
  height: 250px;
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}
